.tags-container {
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 0.2em;
    column-gap: 0.2em;
    border: dotted 1px #707070;
    margin-bottom: 1em;
}

.tag {
    border: dotted 1px #707070;
    padding: 0.2em 0.45em;
    font-size: 0.75em;
}

.tag a {
    color: #707070;
    text-decoration: none;}