---
// create entire sets of pages dynamically using .astro files that export a getStaticPaths() function.

// collection
import { getCollection } from "astro:content";

// base layout wrapper component
import BaseLayout from '../../layouts/BaseLayout.astro';

// component
import ArticleBlock from '../../components/ArticleBlock.astro';

// returns an array list of page routes
// Make sure that every blog post contains at least one tag, written as an array, e.g. tags: ["blog"].
// with props available to your component template outside of your function.
export async function getStaticPaths() {
    // detect all posts
    const allPosts = await getCollection("blog");
    // detect all tags
    const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

    // return collection tags
    return uniqueTags.map((tag) => {
        // filter the array list of posts
        // typescript filter: only include posts that contain that page tag
        const filteredPosts = allPosts.filter((post) =>
          post.data.tags.includes(tag)
    );
    return {
            params: { tag },
            props: { posts: filteredPosts },
        };
    });
}

// parameters
const { tag } = Astro.params;

// props
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <p>Artículos escritos con el tema {tag}</p>
  <ul>
    { posts.map((post: any) => <ArticleBlock url={`/blog-posts/${post.id}/`} title={post.data.title} />) }
  </ul>
</BaseLayout>