---
// base page layout
import BaseLayout from '../layouts/BaseLayout.astro';

// passed props to BaseLayout
const pageTitle = 'Home Page';
---

<BaseLayout pageTitle={pageTitle}>

	<p>Home page content GRID</p>

</BaseLayout>