---
---
<div id="main-menu" class="nav-links">
    <a href="/">Home</a>
    <a href="/blog/">Artículos</a>
    <a href="/tags/">Temas</a>
    <a href="/about/">Quién</a>
</div>

<script>
    import "../scripts/pathname.js";
</script>